<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--服务器IP -->
    <add key="ServerIP" value="127.0.0.1"/>
    <!--服务器端口-->
    <add key="ServerPort" value="8080"/>
    <!--升级完成后，将被回调的可执行程序的名称-->
    <add key="CallbackExeName" value="WinFormsPLC_Net40.exe"/>
    <!--主窗体的Title-->
    <add key="Title" value="文件更新"/>
    <!--主窗体的Title-->
    <add key="Version" value="0"/>
  </appSettings>
</configuration>
